*{
    padding: 0px;
    margin: 0px;
    box-shadow: 0;
    text-decoration: none;
}
.header{
    
    
    padding-top: 1.5%;
    width: 100%;
    display: flex;
    height: 75px;
    background-color: #222;
    display: block;
    
   
    
}
.header__logo{
    padding-left: 5%;
}

.search__icon{
    padding-left: 5%;
}
.header_right_buttons{
    padding-left: 50vw;
}
.top{
    justify-content: center;
    align-items: center;
    
}
.top_item{
    width: 32%;
    height: 260px;
    flex-shrink: 0;
}
.the_brand{
    display: flex;
    
    
    background-color: #F1E4E6;
}

.the_brand_stick{
    padding-top: 289px;
    padding-left: 15%
}
.thebrand_text{
    padding-top: 290px;
    padding-left: 5px;
}
.the_brand_h1{
    color: #222;
    font-family: Lato; 
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal; 
}
.the_brand_h3{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.top{
    display: flex;
    padding-top: 65px;
    

}
.top_top{
    width: 60%;
    display: flex;
    gap: 4%;

}
.down_item {
    width: 30%;
    height: 581px;
}
.top_item1{
    width: 32%;
    height: 260px; 
    text-align: center;
    background-image: url(./img/top_top1.png);
    background-size: cover;
}
.top_item2{
    align-content: center;
    width: 32%;
    height: 260px; 
    text-align: center;
    background-image: url(./img/top_top2.png);
    background-size: cover;
}
.top_item3{
    width: 32%;
    height: 260px; 
    text-align: center;
    background-image: url(./img/top_top3.png);
    background-size: cover;
}
.top_item_text{
    padding-top: 105px;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.top_item_text_pink{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.top_bottom{
    width: 60%;
    display: flex;
    padding-top: 30px;
    padding-left: 20%;
    
}
.top_item_big{
    justify-content: center;
    text-align: center;
    width: 1140px;
    height: 180px; 
    background-image: url(./img/top_item_big.png);
}
.featured_items{
    text-align: center;
    padding-top: 96px;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.featured_items_p{
    padding-top: 6px;
    text-align: center;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}
.down{
    flex-wrap: wrap;
    align-content: center;
    gap: 3%;
    width: 100%;
    
    display: flex;
    
}

.down_item{
    justify-self: center;
    top: 25%;
    width: 30%;
    height: 581px; 
}


.down_item_title{
    padding-top: 24px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.down_item2_img{
    margin-left: 30%;
    
}
.down_item2_title{
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 35px;
}
.down_item_text{

    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.down_item_price{
    
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.browse_all_products{
    background-image: url(./img/button_browse_more.svg);
    width: 13.4%;
    height: 48px;
    border: none;
    margin-left: 43%;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
     
}
@media(min-width: 768px) and (max-width: 1024px){
    .header{
        width: 100%;
    }

    .the_brand_h1{
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: normal; 
    }
    .the_brand_h3{
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
    }
    .the_brand{
        width: 100%;

    }
    .thebrand_photo{
       
        width: 386px;
        height: 368px; 
        
    }
    .thebrand_photo_p{
        width: 386px;
        height: 368px; 
        background-size: cover;
    }
    .the_brand_stick{
        padding-top: 15%;
        
        
    }
    .stick{
        margin-left: 0;
    }
    .thebrand_text{
        padding-top: 15%;
        padding-right: 50%;
    }
    .top_item{
        width: 231.973px;
        height: 167.617px; 
        
    }
    .top_top{
        justify-content: center;
        padding-top: 65px;
        gap: 2%;
    }
    .top_bottom{
        padding-top: 19px;
        padding-left: 4%;
        width: 91.5%;
    }
    .down_item{

        width: 360px;
        height: 420px; 
        margin-top: 20%;

    }
    .down_item1{
        width: 350px;
        height: 310px; 
    }
    .down_item2{
        background-color: #9F9F9F;
        height: 420px;
        width: 360px;
        
        
    }
    .down_item_title{
        background-color: #fff;
    }
    .down_item_text{
        background-color: #fff;
    }
    .down_item2_img{
        height: 420px;
       
        padding-left: 25%;
    }
    .down_item_img{
        background-size: cover;
    }
    
    .down{
        justify-content: center;
        gap: 16px;
        width: 100%;
        padding-left: 1px;
        display: flex;
        flex-wrap: wrap;
        
    }
 
    .browse_all_products{
        justify-content: center;
        margin-top: 50%;
        background-image: url(./img/button_browse_more.svg);
        width: 27%;
        height: 48px;
        border: none;
        margin-left: 40%;
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .down_item_text{
        padding-top: 10px;
    }
    .down_item_title{
        height: 10px;
    }

    

}
@media(min-width: 320px) and (max-width: 767px){
    .header{
        width: 100%;
    }
    .thebrand_photo{
        visibility: hidden;
        width: 0px;
    }
    .the_brand_stick{
        padding-left: 30%;
        padding-top: 20%;
    }
    .thebrand_text{
        padding-top: 20%;
        padding-left: 2%;
    }
    .the_brand{
        height: 363px;
    }
    .header_right_buttons{
        padding-left: 25%;
    }
    .top_top{
        flex-direction: column;
    }
    .top_item{
        width: 96%;
        margin-top: 5%;
    }
    .down{
        justify-content: center;
        flex-direction: column;
    }
    .down_item{
        padding-left: 15px;
        width: 100%;
        padding-top: 50px;
    }
    .down_item_text{
        padding-top: 12px;
        width: 100%;
        padding-right: 50%;
    }
    .down_item_title{
        width: 100%;
        padding-right: 50%;

    }
    .down_item_price{
        padding-top: 17px;
    }
}
